@model Shop.ViewModels.CartIndexViewModel
@{
    ViewBag.Title = "سبد خرید";
}

<div class="col-md-9">

    <h2>سبد خرید شما</h2>
    @if (!Model.Cart.CartLines.Any())
    {
        <div class="alert alert-warning">
            <span style="font-size: 16px">
                کالایی وجود ندارد
            </span>
        </div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>مقدار</th>
                    <th>جنس</th>
                    <th>قیمت هر محصول</th>
                    <th>قیمت ردیف</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.Cart.Lines)
                {
                    <tr>
                        <td>@line.Count</td>
                        <td>@line.Product.Name</td>
                        <td class="text-right">
                            @line.Product.Price ریال
                        </td>
                        <td class="text-right">
                            @((line.Count * line.Product.Price)) ریال
                        </td>
                        <td>
                            @using (Html.BeginForm("RemoveFromCart", "Cart"))
                            {
                                @Html.Hidden("id", line.Product.Id)
                                @Html.HiddenFor(x => x.ReturnUrl)
                                <input type="submit" class="btn btn-sm btn-warning" value="حذف" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">جمع کل:</td>
                    <td class="text-right">
                        @Model.Cart.ComputeTotalValue() ریال
                    </td>
                </tr>
            </tfoot>
        </table>
    }
    <div class="text-center">
        <a class="btn btn-primary" href="@Url.Action("Index", "Home")">
            ادامه خرید
        </a>
        
        @Html.ActionLink("اتمام خرید", "Checkout", "Cart", null, new {@class = "btn btn-info"})
        <a href="javascript:myfunc()" class="btn btn-danger"> خالی کردن سبد!</a>
        
        <script>
            
            function myfunc() {
                $("form").submit();
            }
        </script>
    </div>
</div>